body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    background-color: #161614;
    align-items:center;
    height: 600px;
    width: 400px;
    padding: 16px;
    gap: 8px;
    border-radius: 25px;
}

.display {
    box-sizing: border-box;
    display: flex;
    background-color: #302d2d;
    color: white;
    height: 20%;
    width: 100%;
    margin-top: 8px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    font-size: 32px;
    font-weight: 500;
    padding: 0px 8px 0px 0px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.calcButton {
    box-sizing: border-box;
    flex-basis: 25%;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 600;
    border: 6px solid #161614;
    transition: all 0.05s ease-in-out;
}

#zero {
    flex-basis: 50%;
    border-radius: 50px;
}

.calcButton.operator, #equal {
    background-color: rgb(194, 119, 20);
    color: white;
}

.calcButton.number, #decimal {
    background-color: rgb(66, 66, 66);
    color: white;
}

.calcButton:hover, #decimal:hover, #equal:hover, .operator:focus {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.288);
}

.top:hover {
    box-shadow: inset 0 0 100px 100px rgba(19, 18, 18, 0.329);
}